[2014-02-07 16:58] itsderek23 opened #4 "SSH Tunnel Hangs?"
The instructions list an SSH tunnel as option to access the realtime UI:

<pre>
ssh -NL 5555:localhost:5555 user@ip_or_hostname
</pre>

However, this seems to hang when accessing a server using IPTables where this port isn't exposed. Am I missing something obvious?

[2014-02-10 19:54] andre commented on #4
It's some issue specific to the port number, but I don't know why.

Here are some combos that work:
- `ssh -NL 5000:localhost:6666 user@remote` (running the daemon on port 6666, and hitting `localhost:5000` in your browser)
- `ssh -NL 7777:localhost:77 user@remote` (same port locally on both ends: running the daemon on port 7777, and hitting `localhost:7777` in your browser

Generally speaking, if

[2014-02-10 20:32] #4 closed, assigned to andre

[2014-03-10 22:38] yahelc opened #6 "Use gender neutral language on landing page."
The copy on <a href="https://github.com/scoutapp/scout_realtime/blob/gh-pages/index.html#L47
">`index.html`</a> on the  `gh-pages` branch currently reads:

[code]

This is a great tool, but there's nothing gender specific about its usage. It would be great to change it to something less exclusionary, like `dev` or `sysadmin`.

I'm happy to submit a pull request with a change.

[2014-03-10 22:46] seanabraham opened #8 "Internal Server Error"
After running scout_realtime I visit the page and receive "Internal Server Error".

It looks like it has something to do with this:

NoMethodError - undefined method `each_with_object' for ["cpu", "memory", "disk", "network", "processes"]:Array

[2014-03-10 22:47] seanabraham commented on #8
Line number:

usr/lib64/ruby/gems/1.8/gems/scout_realtime-1.0.0/lib/scout_realtime/web_app.rb:38:in `GET /'

[2014-03-10 22:49] andre commented on #8
@SeanA208, it currently requires Ruby 1.9.3 -- I believe you'll get that error on Ruby 1.8.

[2014-03-10 22:49] gdiggs commented on #6
I submitted this: #7

I think saying something like "modern developer" still exhibits the idiom while being inclusive.

[2014-03-10 23:05] ghost opened #9 "FreeBSD support"
Hello,
It doesn't work well on FreeBSD. Too bad :/
It works like this : http://i.imgur.com/ugt0rJZ.png

[2014-03-10 23:27] yahelc commented on #6
This was fixed by @andre in 78bb605.

[2014-03-10 23:27] #6 closed, assigned to nobody

[2014-03-11 00:32] #8 closed, assigned to nobody

[2014-03-11 01:53] greglook opened #10 "Network graph is broken"
I'm trying this on a linux host running Gentoo 3.13.1, and the "Network Traffic" graph seems to be broken. I've tried running as a normal user and as root, and with Ruby 1.9.3p484 and 2.1.1p76, to no avail. The title shows up, but the box which should hold the bandwidth number is just a line and the graph itself is nonexistent:

![scout_realtime_error](https://f.cloud.github.com/assets/3128434/238

[2014-03-11 01:56] greglook commented on #10
Looks like it's an issue in the server_metrics library actually:
https://github.com/scoutapp/server_metrics/blob/master/lib/server_metrics/collectors/network.rb#L13

Since this machine is a router, the network graph was the main thing I was interested in.

[2014-03-11 02:50] Petah commented on #9
Debian support would be nice too.

[2014-03-11 04:25] awesomelionel opened #11 "How to password protect the port?"
If this is served on a public ip on port 5555, how do we configure the port that is served, or password protect it with basic auth?

[2014-03-11 04:29] paulirish opened #12 "proc/diskstats is 404"
checking the log file i'm seeing this:

[code]

[2014-03-11 04:32] itsderek23 commented on #12
Sorry @paulirish. What OS are you using? OSX/Darwin by chance?

[2014-03-11 04:34] paulirish commented on #12
Nah running it on a debian box.

[2014-03-11 04:35] itsderek23 commented on #9
We don't have immediate plans to add support for FreeBSD or Debian. We don't use either, so we wouldn't be the best at adding initial support.

However, we're happy to review/help. The metric collection is done via the [server_metrics gem](https://github.com/scoutapp/server_metrics). See the different collector classes (memory, disk, processes, etc).

[2014-03-11 04:35] #9 closed, assigned to nobody

[2014-03-11 04:38] itsderek23 commented on #12
Sorry - scout_realtime doesn't support Debian as those starts are read from `/proc`, which doesn't exist there.

We don't have immediate plans to add support for Debian. We don't use either, so we wouldn't be the best at adding initial support.

However, we're happy to review/help. The metric collection is done via the [server_metrics gem](https://github.com/scoutapp/server_metrics). See the diffe

[2014-03-11 04:38] #12 closed, assigned to nobody

[2014-03-11 04:40] itsderek23 commented on #10
@andre - Do you recall the reasoning behind restricting network interfaces to those that match `/venet|eth/`?

[2014-03-11 04:40] paulirish commented on #12
Ah! I see.

Well it actually works fairly well (from what I can tell) with the exception of disk usage.

Thx anyhow. Nice app!

[2014-03-11 04:42] itsderek23 commented on #12
Cool - thanks for the heads up @paulirish.

[2014-03-11 04:47] andre commented on #10
@itsderek23 only that they're the most common. We'd need to think of the best way to provide configuration for this. I guess a command line flag is the most straightforward, but kind of a pain to use.

[2014-03-11 04:49] andre commented on #11
@awesomelionel there's nothing built into scout_realtime right for password protection right now, but I understand the use case. If this is a common concern, I'll look at implementing. Of course, pull requests are welcome too!

[2014-03-11 04:51] andre commented on #8
FYI, I added a real error message on the command line when running under Ruby 1.8.

[2014-03-11 05:55] ghost commented on #11
I'm assuming with both nginx and apache you could proxy pass to localhost:5555, and set up basic authentication from there as a temporary work around.

[2014-03-11 11:42] 85siva opened #13 "Shown Datas are not correct ..."
We have installed then checked cpu and mysqld which usage is much mismatched

Refer the attachment -

![screen shot 2014-03-11 at 5 04 39 pm](https://f.cloud.github.com/assets/1804288/2384680/28f6b798-a911-11e3-8977-1baf57566f98.png)

Using Top command

![screen shot 2014-03-11 at 5 05 10 pm](https://f.cloud.github.com/assets/1804288/2384681/313d0286-a911-11e3-95cc-324d2f54bce7.png)

Let me know i

[2014-03-11 12:03] ashleyhindle commented on #10
Our network graph is also 0 KB/s, though we're actually using 90Mbp/s at the minute.

I assume this is because the traffic is on eth2, and we have 11 interfaces on the box (11 that nload finds/shows anyway).

[2014-03-11 13:46] itsderek23 commented on #13
Hi @85siva,

scout_realtime displays cpu usage as a percentage of the total cpus on the server. Top displays cpu usage as if it was a 1-core system. Since you have 24 cores, 98% cpu usage in scout_realtime would be 98/24=4% which is within range of what we'd expect.

Also, I don't see any charts in your screenshot. Are those missing for you? If so, mind sharing your:
- operating system
- browser
-

[2014-03-11 15:45] jameydavis opened #16 "Help command on landing page"
To get help text in command line the command is 'scout_realtime --help', not 'scout_realtime help'.

[2014-03-11 16:30] andre commented on #16
thanks - fixed

[2014-03-11 16:30] #16 closed, assigned to nobody

[2014-03-11 17:00] nielsen commented on #11
+1 to http basic at least

[2014-03-11 17:01] nielsen opened #17 "Warning Settings"
Love the launch; great stuff!!

Would like a settings.yml or something to color individual cells if they hit a certain number (Memory hits 80%, or similar).

[2014-03-11 17:27] warcode opened #18 "Does not work when ran in an Nginx subfolder"
https://domain.com/scout - does not work due to trying to access domain.com/javascripts and domain.com/images instead of /scout/images.

[2014-03-11 17:32] andre commented on #18
It's designed to be it's own self-contained web server ... I think placing it in an another web server's folder will give unpredictable results.

[2014-03-11 17:34] andre commented on #17
Thanks @nielsen! Threshold settings are beyond what we plan to implement at this point. I'd be happy to look at a pull request for it though.

[2014-03-11 17:47] warcode commented on #18
Im sure other people use nginx to proxy other web servers too, but if you are unwilling to even look into it its not much I can do.

[2014-03-11 17:53] lol768 commented on #11
This is something I'd really like to see, too.

[2014-03-11 18:19] merisbahti opened #19 "This isn't a replacement for top."
Htop is.

Unix programs were made to be single-purpose, this has similar functions to top + some other functions ductaped to it.

Hence
    "30 years ago, top was born. scout_realtime is top for the modern developer."
is incorrect.

[2014-03-11 19:28] jasonmit commented on #11
Extending what @gregf mentioned, here is a working configuration I threw together to support basic auth via nginx reverse proxy.

`htpasswd -c /var/www/scoutwww/.htpasswd admin`

configuration for nginx proxy (/etc/nginx/sites-available/default):

[code]

[2014-03-11 19:32] itsderek23 commented on #19
Thanks for the feedback. We won't be changing the tagline - it's a close-enough analogy.

[2014-03-11 19:32] #19 closed, assigned to nobody

[2014-03-11 20:59] johnerichumphries opened #21 "Scout is not working on my ubuntu 13.10 / intel 64 built."
Installation went fine. The page loads, it detects the number of processors I have, and time tics by but it shows no information on usage or any other summary statistics / processes / or usage of any kind.

I have tried restarting as well as pausing and resuming with no avail.

[2014-03-11 21:06] andre commented on #21
@johnerichumphries, mind posting the log? You'll find it in ~/.scout/scout_realtime.log

[2014-03-11 21:11] johnerichumphries commented on #21
<pre>
Starting scout_realtime service...
I, [2014-03-11T15:35:58.519457 #10529]  INFO -- : starting web server
I, [2014-03-11T15:35:58.519562 #10529]  INFO -- : starting stats collector thread
[2014-03-11 15:35:58] INFO  WEBrick 1.3.1
[2014-03-11 15:35:58] INFO  ruby 1.9.3 (2012-04-20) [x86_64-linux]
== Sinatra/1.4.4 has taken the stage on 5555 for production with backup from WEBrick
[2014-03-11 1

[2014-03-12 03:44] itsderek23 commented on #13
Going to close this for now. Re-open if you are able to collect the details behind the chart issues.

[2014-03-12 03:44] #13 closed, assigned to nobody

[2014-03-12 03:44] #17 closed, assigned to nobody

[2014-03-12 03:53] itsderek23 commented on #21
Thanks for the debug output.

It looks like the disk collector is having problems parsing the output of `df -Pkh`. Mind sharing that output?

[2014-03-12 04:08] emgee3 opened #22 "Fonts not loading properly"
Typekit ID is hard coded here: https://github.com/scoutapp/scout_realtime/blob/master/lib/scout_realtime/web/views/layout.erb#L25

which won't work because individual kits are associated with specific domains.

Not sure if Proxima Nova is actually used in the page, but one could use Montserrat from Google's web fonts.

[2014-03-12 06:47] jamesmoriarty commented on #18
Same problem. I just have it respond to another sub domain now.

[2014-03-12 06:47] jamesmoriarty commented on #10
+1

[2014-03-12 12:34] sgomez commented on #21
I solved this issue configuring LC_ALL and LANG to 'C' value:

[code]

I guess that _df_ is expecting data in English.

[2014-03-12 13:28] cybermerlin opened #25 "see on my server"
how can i place on my web page

[2014-03-12 13:43] skurty opened #26 "Free disk space for other partitions"
My /home is on a different partition from / so is it possible to show the free disk space of other partitions ?

[2014-03-12 13:58] itsderek23 commented on #21
Thanks @sgomez.

The Disk collector sets the `LANG` environment variable but not `LC_ALL`. I've [updated the Disk collector](https://github.com/scoutapp/server_metrics/commit/8e67b054887afa82d8a675be3e0274cef8bbac0d) to do this as well.

Mind trying the following:
- gem install server_metrics --pre (should install version 1.2.2.pre or later)
- scout_realtime stop
- scout_realtime start

[2014-03-12 14:26] ankitguptag18 opened #27 "Relative path issue on reverse Proxy"
Hi,

I have multiple servers so I would like to consolidate all the servers top via a single monitor page. So I was doing a reverse proxy to each server say www.example.com/server1/top www.example.com/server2/top etc. The problem that I faced was that some of the static file paths were relative paths and not mentioned correctly, few of them were relative to the path and some were relative to domai

[2014-03-12 14:28] andre commented on #25
Hi @cybermerlin, your option right now is to iframe the whole page. We don't have any plans to make the charts embeddable in other web pages, although it's technically possible.

[2014-03-12 14:28] #25 closed, assigned to nobody

[2014-03-12 14:45] andre commented on #18
@warcode , @jamesmoriarty, we don't use nginx here, so I'm not sure I understand your setup. Your intent is to access scout_realtime through yourdomain.com/some_subfolder - do I have that right? Can you share your nginx configuration related to scout_realtime? Are you accessing realtime on its own port, or through port 80?

[2014-03-12 14:51] andre commented on #10
What we'll likely do on this is 1) update https://github.com/scoutapp/server_metrics to collect all network interfaces; 2) provide a selection in the UI to indicate which interface you're interested in (and possibly aggregate multiple interfaces).

We use the server_metrics gem in other places, so we have to coordinate the changes carefully. Keep an eye on this thread for updates.

[2014-03-12 15:06] warcode commented on #18
Yes.

The site is a default https/443 config containing:

location /scout {
      proxy_pass    http://localhost:5555;
}

Which loads but then tries to access files on domain/\* instead of
domain/scout/*.
On Mar 12, 2014 3:45 PM, "Andre Lewis" notifications@github.com wrote:

[2014-03-12 15:38] melz opened #28 "Error while installing scout_realtime on OSX"
Tried installing on OSX Mountain Lion and received this error:

[code]

Not a Ruby person so some help would be appreciated. Is this a dependency issue?

Thanks!

[2014-03-12 15:46] sgomez commented on #21
It works! Thanks.

[2014-03-12 15:50] greglook commented on #10
That sounds good. I think it would be pretty cool to be able to track multiple network interfaces (or disk IO, for that matter) as distinctly-colored lines on the graph.

[2014-03-12 16:10] melz commented on #28
Nevermind. It was a dependency error for the json gem.
Closing issue...

[2014-03-12 16:10] #28 closed, assigned to nobody

[2014-03-12 17:24] andre commented on #26
not currently, but we're looking at making this selectable in the UI.

[2014-03-12 17:28] skurty commented on #26
Thank you ;)

[2014-03-12 17:29] andre commented on #27
I think this is the same root cause as https://github.com/scoutapp/scout_realtime/issues/18?

[2014-03-12 17:39] itsderek23 commented on #22
Thanks @emgee3. I forgot to remove typekit - Proxima Nova isn't being used.

I remove it in 733452890733e2358905885470ef44cf0f620bea

[2014-03-12 17:39] #22 closed, assigned to itsderek23

[2014-03-12 17:45] johnerichumphries commented on #21
Hi,

Unfortunately, following sgomez's directions I installed server_metrics --pre, stopped and started the service, but still no luck. The program is behaving as it did before. Thanks again for all the feedback, and sorry for being slow to respond. It looks like a great tool!

@itsderek23 , here is my output from df -Pkh

xxx@mpk:~$  df -Pkh
Filesystem                             Size  Used Avail

[2014-03-12 17:50] itsderek23 commented on #21
Thanks @johnerichumphries. Looks like this isn't a language issue for you.

We'll dig through this.

[2014-03-12 19:32] itsderek23 commented on #21
Sorry @johnerichumphries - need output from one other command: `mount`. Mind sharing?

[2014-03-12 19:39] johnerichumphries commented on #21
here is the output:

xxx@mpk:~$ mount
/dev/sdb6 on / type ext4 (rw,errors=remount-ro)
proc on /proc type proc (rw,noexec,nosuid,nodev)
sysfs on /sys type sysfs (rw,noexec,nosuid,nodev)
none on /sys/fs/cgroup type tmpfs (rw)
none on /sys/fs/fuse/connections type fusectl (rw)
none on /sys/kernel/debug type debugfs (rw)
none on /sys/kernel/security type securityfs (rw)
none on /sys/firmware/efi/efiva

[2014-03-12 19:44] tuminoid commented on #10
I run Ubuntu 12.04.3 LTS server with two interfaces, eth0 and eth1. Network graph is missing. It is about as basic use case as it can be...

[2014-03-12 19:46] itsderek23 commented on #10
Sorry for the issues @tuminoid. Can you share the output of:

`cat /proc/net/dev`

[2014-03-12 19:55] tuminoid commented on #10
Sure. Hope it helps debug it.

[code]

[2014-03-12 20:30] mlins commented on #10
Here's mine on arch, with 2 interfaces.  I have docker installed too.  Nothing showing up on my network graph.  Hope this helps in some way.

[code]

[2014-03-12 22:17] itsderek23 commented on #10
@tuminoid - Thanks. Mind sending me the output of `ruby -e "puts RbConfig::CONFIG['target_os']"`?

The `/proc/net/dev` output looks fine. I think our `#linux?` check may have been too aggressive.

@mlins - Thanks. We're planning on adding support to report metrics on other interfaces - see scoutapp/server_metrics#10.

[2014-03-12 23:13] itsderek23 commented on #21
If English isn't the default language on your server, we've released an update to fix the disk metric parsing (scout_realitme -v1.0.2):

<pre>
gem install scout_realtime
scout_realtime stop
scout_realtime start
</pre>

[2014-03-12 23:15] itsderek23 commented on #10
If you have interface names that match `/venet|eth/` and no network activity, try the following:

<pre>
gem install scout_realtime
scout_realtime stop
scout_realtime start
</pre>

scout_realtime -v1.0.2 is more forgiving on checking if fetching network metrics is supported.

[2014-03-12 23:22] tuminoid commented on #10
@itsderek23, a fresh install of Ubuntu 12.04.3 LTS:

[code]

I can confirm 1.0.2 fixes the network graph for me. Thanks!

[2014-03-12 23:24] itsderek23 commented on #10
Great.

I believe all that's left is interfaces that don't match `/venet|eth/`.

[2014-03-12 23:37] johnerichumphries commented on #21
Thanks @itsderek23,

Did this, and unfortunately it does not solve the problem.

[2014-03-13 05:06] jbleuzen commented on #21
Same problem for me running on debian 7 with ruby 1.9.3p327.
The version 1.0.2 of scout_realtime didn't solve the problem.

I still have the line in scout_realtime.log :

[code]

And here is my df output :

[code]

EDIT :
Found the problem. In my `/etc/fstab` my disks are defined by UUID and when looking at the mount return I get the following output :

[code]

There is no matching between the UUI

[2014-03-13 07:43] 85siva opened #29 "previous metrics views"
Is it possible to see old metrics ( like 1 hour / 1 day )

[2014-03-13 07:54] frdmn commented on #29
+1

[2014-03-13 10:44] ashleyhindle commented on #10
It didn't help for me:

![screen shot 2014-03-13 at 10 42 14](https://f.cloud.github.com/assets/454975/2408438/281ab50e-aa9c-11e3-9d94-dc168e540d5c.png)

[2014-03-13 13:54] ankitguptag18 commented on #27
Changes I made for it to work was to change src="/......" to src="......." under img node, script node etc:
Hoping to see these changes in the coming updates.

There are other files as well which will need these changes. I stopped making changes once the graph started to plot.

lib/ruby/gems/1.9.1/gems/scout_realtime-1.0.1/lib/scout_realtime/web/views

index.rb
Original Last Line
script src="/java

[2014-03-13 15:49] andre commented on #29
It's unlikely we'll provide this in scout_realtime as storing a decent chunk of historical data opens up a different set of issues. We do provide this via scoutapp.com.

[2014-03-13 15:49] #29 closed, assigned to nobody

[2014-03-13 20:33] tanmally opened #30 "It is not able to monitor docker container"
It doesn't work inside docker container , does it support lxc ?

Error in log :  df: cannot read table of mounted file systems

[2014-03-13 20:48] itsderek23 commented on #30
@tanmally,

Sorry for the issues - do you see any output in the `~/.scout/scout_realtime.log` log file?

[2014-03-13 21:04] tanmally commented on #30
Pasting log content :

==> s.log <==
Starting scout_realtime service...
I, [2014-03-13T21:03:09.089905 #160]  INFO -- : starting web server
I, [2014-03-13T21:03:09.090161 #160]  INFO -- : starting stats collector thread
/var/lib/gems/2.1.0/gems/server_metrics-1.2.2/lib/server_metrics/collectors/memory.rb:125: warning: Insecure world writable dir /usr/local/sbin in PATH, mode 040777
[2014-03-13 21:

[2014-03-13 21:06] tanmally commented on #30
I think it is not able to find mtab - 'grep -v rootfs /proc/mounts > /etc/mtab'
 fixed the issue at my end .Can this be sorted out at code level ?. May be information apart from disk should be available

[2014-03-13 21:10] itsderek23 commented on #30
Thanks @tanmally. We haven't explicitly tested this on a Docker Container.

It's something that would be good to support, but won't be on our immediate list. We are happy to take/help with a pull request though.

[2014-03-13 23:16] itsderek23 commented on #21
Thanks @jbleuzen.

@johnerichumphries - I tested out your output and you have a similar issue with the mapped volumes as the devices in `mount` aren't under the same key in `df`.

Mind sharing your `cat /proc/diskstats` output?

[2014-03-13 23:48] johnerichumphries commented on #21
Here you go:

xxx@mpk:~$ cat /proc/diskstats
   1       0 ram0 0 0 0 0 0 0 0 0 0 0 0
   1       1 ram1 0 0 0 0 0 0 0 0 0 0 0
   1       2 ram2 0 0 0 0 0 0 0 0 0 0 0
   1       3 ram3 0 0 0 0 0 0 0 0 0 0 0
   1       4 ram4 0 0 0 0 0 0 0 0 0 0 0
   1       5 ram5 0 0 0 0 0 0 0 0 0 0 0
   1       6 ram6 0 0 0 0 0 0 0 0 0 0 0
   1       7 ram7 0 0 0 0 0 0 0 0 0 0 0
   1       8 ram8 0 0 0 0 0 0 0 0 0

[2014-03-14 04:16] andre commented on #18
I've merged the relative paths fix into a prerelease. Mind trying this out?

[code]

[2014-03-14 04:17] andre commented on #27
See https://github.com/scoutapp/scout_realtime/issues/18#issuecomment-37615463

[2014-03-14 11:29] KonishchevDmitry opened #33 "Add an option to collect statistics data only when there are connected clients"
On my low loaded server the most of time scout_realtime is in top of CPU consuming processes. I believe it makes sense to add an option to collect the statistics data only when there are connected clients to reduce CPU usage.

[2014-03-14 11:42] toupeira commented on #19
It's different enough that it doesn't do a single thing I usually use `top` for, mainly because it shows _groups_ of processes. Also basic information like PIDs is missing.

[2014-03-14 14:29] selfagency opened #34 "launch failure"
when i run scout_realtime, i get this:

/usr/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:36:in `gem_original_require': no such file to load -- json (LoadError)

from /usr/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:36:in `require'
from /usr/lib/ruby/gems/1.8/gems/scout_realtime-1.0.2/lib/scout_realtime.rb:23
from /usr/lib/ruby/gems/1.8/gems/scout_realtime-1.0.2/bin/scout_realtime:4:in`

[2014-03-14 16:26] andre commented on #33
Thanks @KonishchevDmitry. If anyone wants to tackle this:
1. record a time stamp of the last request to /stats.json (https://github.com/scoutapp/scout_realtime/blob/master/lib/scout_realtime/web_app.rb#L55)
2. if the last request to /stats.json is older than some threshold (say, 10 seconds), don't run the collectors (or make the collector runs null-ops)
3. we'd probably want to keep the collectors

[2014-03-14 16:28] andre commented on #34
try `gem install json` then re-running scout_realtime.

[2014-03-14 18:37] itsderek23 commented on #21
We've released an attempted fix - there are cases when we can't map the `mount` output to the devices listed in `df -h`. When that happens, this skips over the `df` output vs. raising an exception.

To try:
- `gem install server_metrics -v1.2.3.pre`
- `scout_realtime stop`
- `scout_realtime start`

[2014-03-14 18:44] johnerichumphries commented on #21
This now works!

I still don't get disk-utilization or network traffic, but everything else
appears to be working correctly.

Thanks.

On Fri, Mar 14, 2014 at 1:37 PM, Derek Haynes notifications@github.comwrote:

##

John Eric Humphries

---

University of Chicago
Department of Economics
phone: 773.980.6575
email:  johneric@uchicago.edu

## web:    home.uchicago.edu/johneric

[2014-03-14 20:05] itsderek23 commented on #18
scout_realtime -v1.0.3 has been released with this update.

[2014-03-14 20:05] #18 closed, assigned to andre

[2014-03-14 20:06] itsderek23 commented on #27
scout_realtime -v1.0.3 has been released with this update.

[2014-03-14 20:06] #27 closed, assigned to andre

[2014-03-14 20:14] itsderek23 commented on #21
Cool - moving in the right direction.

For disk utilization - it seems like I'm seeing data locally for your output. Mind trying the following:
- open the developer console in your browser
- type `metrics.disk`
- send us the output for the first disk. for example:

<pre>
/dev/xvda1: Object
avail: 4403.2
average_queue_length: 0
filesystem: "/dev/xvda1"
mounted_on : "/↵"
rps: 0
rps_kb: 0
size: 10137

[2014-03-14 20:24] warcode commented on #18
Can confirm that it works for my setup. Thank you!

[2014-03-14 21:06] jbleuzen commented on #21
Problem solved for me...
Thanks !

[2014-03-15 08:30] tanmally commented on #30
Using  scout_realtime for monitoring docker was not correct as we need to get the details from lxc files ,  scout_realtime can monitor only the docker host and not containers . Sorry for the confusion !!

[2014-03-15 08:30] #30 closed, assigned to nobody

[2014-03-15 21:27] leolelego opened #35 "Error to show information in Mac OSX 10.7"
Hello,

if have this error when i run scout_reatime on my Mac (10.7.5, ruby 2.2.1 and same on ruby 2.0) :
<code>
Errno::ENOENT: No such file or directory @ rb_sysopen - /proc/diskstats
</code>
I'm not ruby developer, i understand the sence of the sentence, but how i can solve this problem ?

This may cause  : missing informations in my webview like no : CPU info, no Disk Info, no process info.

[2014-03-17 04:40] tadev opened #36 "Make Scout listen on localhost"
Can we make scout only listen on localhost instead of openly on the web?
This would fix many problems...

First of all, we could provide reverse proxy scripts.
Others can use scout by setting up an ssh tunnel.

Atleast an option to which IP to bind to would be awesome.
Thanks

[2014-03-17 08:04] adamramadhan opened #37 "monitor two or more?"
hello is there a way to monitor two or more server? how do you guys do it the right way?

[2014-03-17 13:44] itsderek23 commented on #36
This isn't something we have immediate plans of implementing, but we're happy to look at a pull request for this functionality.

[2014-03-17 16:26] Oxicode commented on #11
+1

[2014-03-17 17:08] andre commented on #37
@adamramadhan monitoring multiple servers in realtime is something we offer through https://scoutapp.com. It's more involved  -- you need a central hub to coordinate data collection from multiple servers -- so we don't plan on building it into this project.

[2014-03-17 17:08] #37 closed, assigned to nobody

[2014-03-19 21:40] dyelton opened #40 "Docs say 1.8.7+ is required but 1.9+ is actually required"
The documentation states that Ruby 1.8.7+ is required but when running it on a 1.8.7 installation it errors saying to Ruby 1.8 isn't supported and to run under Ruby 1.9+.

[2014-03-24 17:08] gregfr commented on #34
I have the same error although json is installed:
$ gem list
**\* LOCAL GEMS **\*
json (1.8.1)

[2014-03-24 17:10] gregfr commented on #34
I re-installed with gem install scout_realtime and now it's starting

[2014-03-27 16:21] xiamx opened #41 "100% cpu usage in macbook air"
the title says it. I'm using Version 33.0.1750.152

[2014-03-27 16:22] itsderek23 commented on #41
Sorry - mind sharing the following:
- Your operating system and version
- CPU specs

[2014-03-27 16:25] xiamx commented on #41
Running on OSX 10.9
  Model Name:   MacBook Air
  Model Identifier: MacBookAir5,2
  Processor Name:   Intel Core i7
  Processor Speed:  2 GHz
  Number of Processors: 1
  Total Number of Cores:    2
  L2 Cache (per Core):  256 KB
  L3 Cache: 4 MB

[2014-03-27 16:40] xiamx commented on #41
I tested in firefox, also 100% cpu usage. So i'm changing the title of this issue

[2014-04-15 20:07] derekslenk opened #43 "Disk Space utilization always 0"
http://slenk.com:5555

Disk utlization is actually at 39%, but always shows 0.

Debian 7 x64

[2014-04-16 15:35] itsderek23 commented on #43
Thanks for providing the URL - it looks like no disk i/o metrics are being reported, which likely means we're not able to read from `/proc/diskstats` to collect those metrics.

Mind SSH-ing onto your server and running "cat /proc/diskstats"?

[2014-04-16 15:59] derekslenk commented on #43
This is hosted with Linode. xvda is the / mount

   1       0 ram0 0 0 0 0 0 0 0 0 0 0 0
   1       1 ram1 0 0 0 0 0 0 0 0 0 0 0
   1       2 ram2 0 0 0 0 0 0 0 0 0 0 0
   1       3 ram3 0 0 0 0 0 0 0 0 0 0 0
   1       4 ram4 0 0 0 0 0 0 0 0 0 0 0
   1       5 ram5 0 0 0 0 0 0 0 0 0 0 0
   1       6 ram6 0 0 0 0 0 0 0 0 0 0 0
   1       7 ram7 0 0 0 0 0 0 0 0 0 0 0
   1       8 ram8 0 0 0 0 0 0 0

[2014-04-28 18:54] itsderek23 commented on #41
Spent some time looking into performance on the Javascript-side.

The vast majority of time is spent on the animation transitions. When removed, the CPU usage cuts down by more than half.

The problem is that this makes the UI very jarring as the charts are shifted over every second.

Here's a screenshot of the current scout_realtime cpu profile w/animations:

![scout realtime cpu profile](https:/

[2014-04-28 18:54] #41 closed, assigned to nobody

[2014-04-28 19:56] itsderek23 commented on #40
Thanks! Updated the README: fdf7ce8

[2014-04-28 19:56] #40 closed, assigned to nobody

[2014-04-28 19:56] #34 closed, assigned to nobody

[2014-04-28 19:59] #21 closed, assigned to nobody

[2014-04-28 20:20] itsderek23 commented on #36
Merged! See 63e5ef1.

[2014-04-28 20:20] #36 closed, assigned to nobody

[2014-04-28 20:26] itsderek23 commented on #35
@leolelego,

scoutapp/server_metrics@a1ff0d756899d56d637fb4a715ea2183351f297d adds error-handling for OSX.

Note that we're not able to grab the full array of metrics on OSX that we can on other Linux flavors because of the absence of the `/proc` system.

[2014-04-28 20:26] #35 closed, assigned to nobody

[2014-04-28 20:29] itsderek23 commented on #35
Sorry - to fix this:

`gem install server_metrics`
`scout_realtime stop`
`scout_realtime`

[2014-05-07 15:42] exabrial commented on #43
Having the same problem... I use md raid for /. Here are my stats:

[code]

@itsderek23 what columns is scout looking at?

[2014-05-08 21:21] itsderek23 commented on #10
We've updated a gem dependency (`server_metrics -v1.2.5`) that will fetch metrics for all network devices outside of the loopback device.

To get going:

<pre>
gem install server_metrics
scout_realtime stop
scout_realtime
</pre>

[2014-05-08 21:21] #10 closed, assigned to itsderek23

[2014-05-13 20:35] warcode commented on #18
Somehow seems to be broken again with nginx 1.6.0.
Once again points to the root instead of the /scout/ location / proxy pass.

[2014-05-14 05:53] w00kie commented on #18
I run nginx 1.7.0 with the latest release of scout_realtime and I have no issues.

My nginx config is as follows:

[code]

[2014-05-14 15:42] mdesantis opened #44 "Unix socket support"
It would be great if unix sockets would be available as bind address, for performance, security and configuration reasons; for "configuration reasons" I mean that in my company I serve everything via unix socket <=> nginx, and scout_realtime would be the only exception.

[2014-05-14 17:25] warcode commented on #18
No longer works:

[code]

Still works:

[code]

I'm assuming nginx changed how they were handling no trailing slash.

[2014-06-05 19:06] gmini196 opened #46 "Need help"
I wanna build a RoR web use websocket allow to view realtime parameters of the host system that contains that web, so can I use scout_realtime and how i use it?

[2014-06-06 15:07] itsderek23 commented on #46
scout_realtime itself is a web app served via Sinatra. We don't have any plans on adding support for integrations.

[2014-06-06 15:07] #46 closed, assigned to nobody

[2014-07-03 22:00] jpotter opened #47 "Args for setting log path and pid path ignored in mkdir ~/.scout call"
Hi,

On our system, we're running scout under a supervisor where $HOME isn't writeable.

The code has this:

[code]

This code fails, even when --pid-file and --log-file point those entries elsewhere.

Can the mkdir_p call be moved to where the pid_path and log_path are opened, and run on the directories associated with those values, as opposed to assuming it's going to be under ~/.scout?

Thanks!

[2014-07-07 16:21] andre commented on #47
Hi @jpotter, I agree this would be a good addition, and I'd be happy to review a pull request for it.

[2014-09-20 18:12] CodeBrauer opened #48 ""Disk Utilization" not avaiable"
~~http://gab3.de:5555/~~

There is no information about Disk Utilization

There are some JS-Errors:

`Uncaught TypeError: Cannot read property 'used' of undefined` on:
https://github.com/scoutapp/scout_realtime/blob/master/lib/scout_realtime/web/javascripts/application.js#L259

Maybe the reason is that my "main filesystem" is "/dev/simfs" and not "/dev/sda"

[2014-09-29 14:29] itsderek23 commented on #48
Sorry for the delay - mind sharing the output of:
- `cat /proc/diskstats`
- `mount`

[2014-10-03 10:55] CodeBrauer commented on #48
[code]

---

Also I have an vServer... (used SolusVM, OpenVZ)

[2014-10-09 21:11] er0k commented on #10
I'm having this same issue on a CentOS 6.5 machine. The main interface is eth1 and I get no activity in the network traffic graph.

I have server_metrics-1.2.7 and scout_realtime-1.0.5 gems

cat /proc/net/dev

[code]

ruby -e "puts RbConfig::CONFIG['target_os']"

[code]

[2014-10-30 13:50] er0k opened #49 "No Network Traffic"
I'm having the same issue as here: https://github.com/scoutapp/scout_realtime/issues/10

I posted there but no response, maybe since it was already closed...

Running on a CentOS 6.5 machine. The main interface is eth1 and I get no activity in the network traffic graph.

I have server_metrics-1.2.7 and scout_realtime-1.0.5 gems

cat /proc/net/dev

[code]

ruby -e "puts RbConfig::CONFIG['target_os'

[2014-10-30 22:03] itsderek23 commented on #49
Hey @er0k - sorry. We haven't had a free cycle to look into this. This is on list, but I wouldn't express any progress for a bit.

[2014-11-22 16:24] ghost commented on #49
@er0k I think interface issue.
network.historical_metrics["eth0"][:bytes_in]

How set custom interface for network monitor? e.g eth1 or eth2

Debian 7 same issue no network traffic.

cc @itsderek23

root@server:~# cat /proc/net/dev
Inter-|   Receive                                                |  Transmit
 face |bytes    packets errs drop fifo frame compressed multicast|bytes    packets errs dro

[2014-11-22 16:43] ghost commented on #10
@er0k add eth1 interface your config.

[2014-11-26 19:31] er0k commented on #10
@00002 sorry, I'm not sure what this means. Which config?

[2014-12-08 13:29] ghost commented on #10
I was having the same problem,network graph broken.

scout_realtime/blob/d825d19c239cb360f452a6263d5f65e7c6aa8883/test/models/network_test.rb

Unfortunately, I could not find a beautiful solution.

[2014-12-08 23:17] Yogu commented on #48
I have the same issue since I switched from a KVM server to OpenVZ. [That's probably the reason `/proc/diskstats` does not exist](http://askubuntu.com/questions/256636/proc-partitions-not-found-error-is-showing-up).

There should be an alternative; `df` and `iotop` display the information. If that's not an option, it would be good if at least the javascript error could be fixed so auto update woul

[2015-02-15 22:11] Caligone commented on #49
Same issue here on Archlinux with kernel 3.14.33-1-lts with scout realtime v1.0.5

[2015-03-28 15:55] leolelego commented on #11
I agreed, it can be great to juste have a little password step !

[2015-04-29 18:13] andrewcstewart opened #50 "`gem_original_require': no such file to load"
Hi,

Receiving the following error trying to run:

[code]

[2015-05-01 15:41] dlanderson commented on #50
Hi @andrewcstewart - can you try 'gem install json' to see if that fixes it? If not, please post the output of 'gem list'.

[2015-05-01 17:12] andrewcstewart commented on #50
Thanks, that worked.  ( ruby newb here)

[2015-05-01 17:13] #50 closed, assigned to nobody

[2015-10-09 23:42] skryking opened #51 "any chance of getting support for multiple machines"
Title says it all.. Any chance of getting support for multiple machines or maybe an aggregator?

[2015-10-12 15:53] itsderek23 commented on #51
Hi @skryking,

I don't see us adding this ourselves. We support this in our [hosted server monitoring product](https://scoutapp.com/info/server_monitoring) and it is pretty involved.

[2015-10-12 15:53] #51 closed, assigned to nobody

[2015-10-21 19:05] CodeBrauer commented on #11
+1

[2016-01-05 23:24] rollecode commented on #49
Same on Fedora 22. This is so cool. I so hope someone is still developing this forward.

[2016-01-06 01:23] rollecode commented on #10
Tried my best as well with no luck. Here's my `cat /proc/net/dev`:

[code]

`ruby -e "puts RbConfig::CONFIG['target_os']"`

[code]

`cat /etc/redhat-release`

[code]

[2016-01-06 01:25] rollecode commented on #48
No Disk Utilization stats here either. Nothing in Javascript console.

`cat /proc/diskstats`

[code]

`mount`

[code]

`cat /etc/redhat-release`

[code]

[2016-02-25 10:15] netsetter opened #52 "Unable to start scout_realtime"
Just installed scout_realtime on CentOS 6.7 inclusive Ruby and RubyGems without any error messages.

When now trying to start scout_realtime, I'm stuck with following error:

Any idea what's still missing?

[2016-03-04 07:50] blinux8387 opened #53 "integrate ScootrealTime page"
Sorry for my English (I'm a French user and I use google translation;-))
I use ScoutRealTime which works very well on my server, thank you!
I would like to integrate ScoutRealTime page to a main page of my server but put the 'http: // localhost: 5555' in a 'iframe' 'in html or in include () in php gives me a white page.
There is there a particular configuration to integrate ScootRealTime page.

[2016-03-18 06:50] iksuro commented on #53
Hello. Нave the same problem.
I can not open Scout Realtime in the iframe.
scout_realtime --port 4455 --bind 0.0.0.0 --foreground
(172.16.1.27 remote-serv)
(172.16.1.35 myDesctopPC)

 --Launch page with code iframe... src="http://172.16.1.27:4455" /iframe or 127.0.0.1/localhost
172.16.1.35 - - [17/Mar/2016:18:39:21 MSK] "GET / HTTP/1.1" 200 57434
http://172.16.1.27/test/index2.html -> /
172.16.1.3

[2016-05-26 13:23] franklinr opened #54 "GPU monitoring"
Hi,
  I would like to use scout realtime to monitor my GPU usage.  There is nvidia command that will produce various stats about my gpu and I can pull out the GPU usage.

[code]

Is there a simple way to add some scout monitor based on a unix command?

[2016-05-31 18:40] dlanderson commented on #54
Sorry @franklinr this is not implemented in scout realtime.

[2016-05-31 18:40] #54 closed, assigned to nobody

[2016-06-21 08:17] luos opened #55 "Is this project abandoned?"
Hi,

I see there were no commits in the last 2 years, is this project abandoned?

Thanks

[2016-06-21 17:35] itsderek23 commented on #55
@luos,

We are no longer maintaining this project.

[2016-06-21 17:35] #55 closed, assigned to nobody

[2017-01-31 15:26] jtenniswood commented on #26
Any update on this, 2014 seems a long time to wait for a simple selector.

[2017-02-11 00:19] gigibiffi84 commented on #18
@warcode  i just tried your suggest and i completely agree: location and proxy_pass without slash is no more working

[2017-12-08 22:19] binarycpu commented on #50
I've found a variant, `gem install json -v '1.8.3'` for cases where a specific version is needed

[2018-04-16 08:52] saargrin opened #56 "after running the scout_realtime command,able to access the UI but no stats are showing in realtime"
![image](https://user-images.githubusercontent.com/6506091/38799210-7f2fb7d4-416c-11e8-90d6-9545a093e332.png)

centos 7.3 no selinux
steps to reproduce - gem install scout_realtime , start

[2018-05-03 09:53] CodeBrauer commented on #48
I'm closing this, since this is a limitation of OpenVZ and scout_realtime can't access the required resources.

[2018-05-03 09:53] #48 closed, assigned to nobody

[2018-05-09 19:27] Vustom commented on #10
This was happening to me when Docker was running, for @ronilaukkarinen and others, open `network.rb` with: `nano /var/lib/gems/2.3.0/gems/server_metrics-1.2.18/lib/server_metrics/collectors/network.rb`

Change line `next if iface =~ /^(lo|veth\w{4,})$/` to `next if iface =~ /^(lo|docker0|veth\w{4,})$/`

Save and restart Scout Realtime.

[2018-05-09 19:29] Vustom commented on #49
If you have Docker installed alongside Scout Realtime see [this post](https://github.com/scoutapp/scout_realtime/issues/10#issuecomment-387849060).

[2019-01-30 10:31] natzar commented on #52
$ gem install json
$ scout_realtime

[2021-05-31 08:17] sinbargit opened #57 "history of process"
Any way can check the history of a process?